################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MRF.WebSkin
/.vs/MRF/v15/Server/sqlite3
/.vs/config/applicationhost.config
/.vs/MRF/DesignTimeBuild/.dtbcache
