@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    project-x Way<br />
    London, PX123X<br />
    <abbr title="Phone">P:</abbr>
    0800 888 8888
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@project-x.com">Support@project-x.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@project-x.com">Marketing@project-x.com</a>
</address>
